{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
    <div class="container" id="calendar">
        {% for calendar_week in calendar_list %}
            <div class="row">    
            {% for calendar_day in calendar_week %}
                {% if calendar_day.valid_date %}
                <div class="col">
                    <div class="card text-dark 
                        {% if calendar_day.current_day %}
                            bg-danger
                        {% else %}
                            bg-light
                    {% endif %}">
                        <div class="card-body">
                            <h6 class="card-title">{{ calendar_day.get_date.get_month_str }} {{ calendar_day.get_date.get_day }}</h6>
                            <a href="#" class="btn {% if calendar_day.current_day %} btn-light {% else %} btn-secondary {% endif %} w-100 text-start"><span class="badge bg-secondary">{{ calendar_day.get_events_count }}</span> Events</a>
                            <a href="#" class="btn {% if calendar_day.current_day %} btn-light {% else %} btn-secondary {% endif %} w-100 mt-2 text-start"><span class="badge bg-secondary">{{ calendar_day.get_todos_count }}</span> To Do</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col invalid-date">
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            <h6 class="card-title">{{calendar_day.get_date.get_month_str}} {{ calendar_day.get_date.get_day }}</h6>
                            <a href="#" class="btn btn-secondary w-100 text-start"><span class="badge bg-secondary">{{ calendar_day.get_events_count }}</span> Events</a>
                            <a href="#" class="btn btn-secondary w-100 mt-2 text-start"><span class="badge bg-secondary">{{ calendar_day.get_todos_count }}</span> To Do</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}