{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Sunday</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}