{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        {% for row in calendar %}
        <div class="row">    
            {% for column in row %}
            {% if column == 0 %}
            <div class="col" id="calendar-element">
                <div class="card square">
                    <div class="card-body square-content">
                        <h5 class="card-title"></h5>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col" id="calendar-element">
                <div class="card square text-dark bg-light" id="calendar-element">
                    <div class="card-body square-content">
                        <h5 class="card-title">{{ column }}</h5>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}