body {
  width: 100vw;
  height: 100vh;
}

#calendar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
}

#calendar .row {
  flex-grow: 1;
}

#calendar .col {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#calendar .col:hover {
  animation: calendar-element-grow 0.1s linear forwards;
}

@keyframes calendar-element-grow {
  0% {
    transform: scale(1);
    z-index: 1;
  }
  100% {
    transform: scale(1.15);
    z-index: 999;
  }
}

#calendar .card {
  width: 100%;
  height: 100%;
  border-radius: 0;
  user-select: none;
}
