#calendar-header th {
    width: 100px;
}

#calendar-element .square {
    box-sizing: border-box;
    width: 100%;
    height: 0;
    padding: 0;
    padding-top: 100%;
    margin: 5px;
    position: relative;
}

#calendar-element .square-content {
    position: absolute;
    top: 0;
    left: 0;
}