body {
    width: 100vw;
    height: 100vh;
}

#calendar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    padding: 0;

    .row {
        flex-grow: 1;
    }

    .col {
        box-sizing: border-box;
        padding: 0;
        margin: 0;

        :hover {
            animation: calendar-element-grow 0.1s linear forwards;
        }

        @keyframes calendar-element-grow {
            0% {
                transform: scale(1);
                border-radius: 0;
                z-index: 1;
            }

            100% {
                transform: scale(1.1);
                border-radius: 5px;
                z-index: 999;
                
            }
        }
        
        // :hover {
        //     transform: scale(1.1);
        //     border-radius: 25px;
        //     z-index: 999;
        // }
    }

    .card {
        width: 100%;
        height: 100%;

        border-radius: 0;
        user-select: none;
    }
}